h1 {
  margin: 10px;
}

.list {
  border: 5px dotted black;
  background-color: lightskyblue;
  width: 400px;
  padding: 20px;
  margin: 10px;
}
.element {
  border: 5px solid black;
  background-color: lightcoral;
  width: 200px;
  padding: 20px;
  margin: 10px;
}
