.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.face {
  font-size: 190px;
}

.select {
  width: 60px;
  font-size: 30px;
  padding: 2px;
  border-radius: 5px;
}

.button {
  padding: 5px;
  background-color: #0093eb;
  font-size: 30px;
  color: white;
  border: none;
  border-radius: 5px;
}

.amarilloCorrecto {
  background-color: #ffcc00;
}

.naranjaFuego {
  background-color: #ff9900;
}
