.footer {
  background-color: lightpink;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 1024px) {
    align-items: center;
    justify-content: space-between;
  }
}
