/* 
MEDIA QUERIES

Sirven para hacer un diseño responsive, que se adapte a los diferentes dispositivos y medidas de pantalla. Para ello, se utilizan los puntos de ruptura (breakpoints).

  - 768px: tablet (si la pantalla mide 768px o más, aplica los estilos)
  - 1024: desktop (si la pantalla mide 1024px o más, aplica los estilos)

*/

/* Estilos de reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
  /* 10px */
}

ul {
  list-style: none;
}

/* Estilos de html */

.header {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  height: 10vh;
}

.header__title {
  background-color: antiquewhite;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav {
  background-color: bisque;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main {
  background-color: aquamarine;
}

.section__image {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__image img {
  width: 30%;
  max-width: 340px;
  min-width: 150px;
}

.section__text {
  background-color: black;
  display: flex;
  gap: 20px;
}

.section__text__div {
  background-color: brown;
  font-size: 1.5rem;
  padding: 5px;
}
.section__text__div p {
  padding: 5px;
}

.paragraph__rem {
  background-color: lightgreen;
  font-size: 1.5rem;
}

.paragraph__em {
  background-color: lightgreen;
  font-size: 1.5em;
}

.footer {
  background-color: lightpink;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .section__image {
    flex-direction: row;
    justify-content: space-around;
  }
  :root {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .footer {
    align-items: center;
    justify-content: space-between;
  }
}
